@model IEnumerable<ProjektApp.ViewModels.AuctionVM>

@{
    ViewData["Title"] = "BidderList";
}

<h1>Auctions I have bids on:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starting_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighestBid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is_Expired)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.ImageUrl" alt="image" width="200px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Starting_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighestBid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_Expired)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
